@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #F2F2F2;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    width: 80%;
    padding: 2em;
    margin: 0 auto;
    flex-direction: column;
    background-color: #FFF;
    border-radius: .5em;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    transition: all .5s ease-in-out;
}

@keyframes scaleUp{
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}

form:not(:focus){
    animation: scaleUp .5s ease-in-out;
}

form h1{
    text-align: center;
}

form label{
    margin: 5px 0;
    margin-bottom: 15px;
}

form input{
    padding: 1em;
    border-radius: .5em;
    border: none;
    background-color: #F2F2F2;
    transition: all .5s ease-in-out;
}

form input:focus{
    outline: 1px solid #000000;
}

form button[type=submit]{
    color: #FFFFFF;
    background-color: #4A7DFF;
    border: none;
    padding: 1em;
    border-radius: 1.5em;
    transition: all .5s ease-in-out;
    margin-top: 15px;
}

form button[type=submit]:hover{
    cursor: pointer;
    background-color: #628df7;
}

form p{
    text-align: center;
}

form p a{
    color: #4A7DFF;
    text-decoration: none;
}

form section h2{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

form section div{
    display: flex;
    justify-content: center;
}

form section div button{
    background-color: #FFFFFF;
    font-size: 2em;
    margin: 0 .2em;
    padding: .5em;
    border: none;
    outline: .5px solid #000000;
    border-radius: .75em;
    transition: all .3s ease-in-out;
}

form section div button:hover{
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    background-color: #4A7DFF;
    border-radius: 100%;
}

span{
    color: #ae0000;
    font-weight: 600;
    font-size: 12px;
    margin: 5px auto;
}

#black-div{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#modal{
    background-color: white;
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

@keyframes slideDown{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0);
    }
}

#modal:not(focus){
    animation: slideDown .5s ease-in-out;
}

#modal h1{
    font-size: 1.5em;
    text-align: center;
}

#modal button{
    background-color: #000000;
    color: white;
    padding: .7em;
    border-radius: .5em;
    border:none;
    transition: all .3s ease-in-out;
}

#modal button:hover{
    background-color: #2a2a2a;
    cursor: pointer;
}

@media screen and (min-width: 762px){
    form{
        width: 40%;
    }

    #modal{
        width: 40%;
    }
}